body {
  background: 	url("../../images/vader.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.Four {
  display: inline-block;
  background-color: black;
}

.FourWrapper {
  text-align: center;
}
